<div class="container m-5 " style=" display: flex; justify-content: center;">
    <form class="col-md-12" action="/Articles/Create" method="post">
        <input name="title" class="form-control form-control-lg" id="createpost" type="text" placeholder="Title" style="width:500px" required>


        <textarea name="articleBody" class="form-control" style="margin: 0px ;border-radius: 4px; line-height: 30px;height: 200px; width: 500px; " required></textarea>

        <input class="form-control" name="image" type="file" accept="image/*" id="formFile" >

        <button type="submit"> Post </button>
    </form>

</div>