<div class="container m-5" style=" display: flex; justify-content: center;">
    <form action="/Articles/Create" method="post">
        <input class="form-control form-control-lg" id="createpost" type="text" placeholder="Title" style="width:500px">


        <textarea class="form-control" style="margin: 0px ;border-radius: 4px; line-height: 30px;height: 200px; width: 500px; "></textarea>

        <input class="form-control" type="file" id="formFile">

        <button type="submit"> Post </button>
    </form>

</div>