<section class="border-bottom mb-4">
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg"
         class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />

    <div class="row align-items-center mb-4">
        <div class="col-lg-6 text-start text-lg-start mb-3 m-lg-0">
            <span> Published <u>15.07.2020</u> by</span>
            <a href="" class="text-warning">Anna</a>
        </div>
    </div>
</section>
<!--Section: Post data-mdb-->
<!--Section: Text-->
<section>
    <h2>This is title</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio sapiente molestias
        consectetur. Fuga nulla officia error placeat veniam, officiis rerum laboriosam
        ullam molestiae magni velit laborum itaque minima doloribus eligendi! Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Optio sapiente molestias consectetur.
        Fuga nulla officia error placeat veniam, officiis rerum laboriosam ullam molestiae
        magni velit laborum itaque minima doloribus eligendi!
    </p>

    <p><strong>Optio sapiente molestias consectetur?</strong></p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum architecto ex ab aut
        tempora officia libero praesentium, sint id magnam eius natus unde blanditiis. Autem
        adipisci totam sit consequuntur eligendi.
    </p>

    <p class="note note-light">
        <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Optio odit consequatur porro sequi ab distinctio modi. Rerum cum dolores sint,
        adipisci ad veritatis laborum eaque illum saepe mollitia ut voluptatum.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, libero repellat
        molestiae aperiam laborum aliquid atque magni nostrum, inventore perspiciatis
        possimus quia incidunt maiores molestias eaque nam commodi! Magnam, labore.
    </p>



    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, temporibus nulla
        voluptatibus accusantium sapiente doloremque. Doloribus ratione laboriosam culpa. Ab
        officiis quidem, debitis nostrum in accusantium dolore veritatis eius est?
    </p>
</section>
<!--Section: Text-->
