<section class="border-bottom mb-4">
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg"
         class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />

    <div class="row align-items-center mb-4">
        <div class="col-lg-6 text-start text-lg-start mb-3 m-lg-0">
            <span> Published <u>15.07.2020</u> by</span>
            <a href="" class="text-warning">Anna</a>
        </div>
    </div>
</section>
<!--Section: Post data-mdb-->
<!--Section: Text-->
@{  
    
    weblogbook.Models.SDEntities sddb = new weblogbook.Models.SDEntities();
    String id = ViewBag.data;
    weblogbook.Models.Article article = sddb.Articles.Where(art => art.articleID.Equals(id)).First();
    
    
    }
<section>
    <h2>@article.title</h2>
    <p>
        @article.articleBody
    </p>

    <p><strong>Optio sapiente molestias consectetur?</strong></p>

    <p>
        
    </p>

    <p class="note note-light">
        <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Optio odit consequatur porro sequi ab distinctio modi. Rerum cum dolores sint,
        adipisci ad veritatis laborum eaque illum saepe mollitia ut voluptatum.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, libero repellat
        molestiae aperiam laborum aliquid atque magni nostrum, inventore perspiciatis
        possimus quia incidunt maiores molestias eaque nam commodi! Magnam, labore.
    </p>



    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, temporibus nulla
        voluptatibus accusantium sapiente doloremque. Doloribus ratione laboriosam culpa. Ab
        officiis quidem, debitis nostrum in accusantium dolore veritatis eius est?
    </p>
</section>
<!--Section: Text-->
